%ul.gamesBtn
  %li
    = link_to "LEVEL1", timer_games_path, class: "gameBtn level1"
  %li
    = link_to "LEVEL2", omikuji_games_path, class: "gameBtn level2"
  %li
    = link_to "LEVEL3", quize_games_path, class: "gameBtn level3"
  %li
    = link_to "LEVEL4", touch_games_path, class: "gameBtn level4"
  %li
    = link_to "LEVEL5", slot_games_path, class: "gameBtn level5"