%ul.gamesBtn
  %li
    = link_to "LEVEL1", timer_path, class: "gameBtn level1"
  %li
    = link_to "LEVEL2", omikuji_path, class: "gameBtn level2"
  %li
    = link_to "LEVEL3", quize_path, class: "gameBtn level3"
  %li
    = link_to "LEVEL4", touch_path, class: "gameBtn level4"
  %li
    = link_to "LEVEL5", slot_path, class: "gameBtn level5"