#omikuji
  %p omikuji
  #btn ?
  #selectResult.hidden
    .form
      = form_for (@point) do |f|
        .form_num.display_none
          = f.label :ポイント
          = f.number_field :point, value: 1
        .form_sumbit
          = f.submit "KOKKI!"
= javascript_include_tag 'games/omikuji.js'
