#quize
  %p quize
  %section.container
    %p#question
    %ul#choices
    #btn.disabled Next
    %section#result.hidden
      %p
      %a{:href => ""} Replay?
  #selectResult.hidden
    .form
      = form_for (@point) do |f|
        .form_num.display_none
          = f.label :ポイント
          = f.number_field :point, value: 1
        .form_sumbit
          = f.submit "KOKKI!"
= javascript_include_tag 'games/quize.js'
