!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Kokki
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
  %body
    .notifications
      - flash.each do |key, value|
        = content_tag(:div, value, class: key)
    %header
      .header-left
        = link_to root_path do
          %h1.logo Kokki
      .header-right
        - if user_signed_in?
          %ul.user_top_info
            %li.user_top_info__name
              = "#{current_user.name} さんのKOKKI "
            %li.user_top_info__point
              - if (Point.where(user_id: current_user.id).count != nil)
                = "#{Point.where(user_id: current_user.id).count} ポイント"
              - else
                0 ポイント
          = link_to 'プロフィール変更', edit_user_registration_path
          = link_to "ログアウト", destroy_user_session_path, method: :delete
        - else
          = link_to "新規登録", new_user_registration_path
          = link_to "ログイン", new_user_session_path
    = yield
